<div class="flex-col event-details w-full relative h-1/4 bg-gray-700">
    <h1
        class="absolute text-lg line-clamp-2 text-center event-title z-10 text-white font-bold top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 w-1/2 sm:top-7 sm:text-lg">
        <%- event.name %>
    </h1>
    <img src="<%- eventImageURL %>" alt=""
        class="w-full h-full object-cover absolute top-0 left-0 z-0 brightness-50 opacity-40" />
    <a href="<%- event.url %>" target="_blank"
        class="bg-[#878d26] sm:hover:bg-white sm:hover:text-[#878d26] text-white font-bold py-1 px-1 rounded text-xs sm:py-2 sm:px-2 absolute sm:text-sm z-10 top-2 right-2">
        Get Tickets
    </a>
    <div
        class="flex-row flex absolute justify-between sm:justify-evenly items-center align-middle w-full bottom-0 left-0 z-10 px-3 sm:px-10 py-2">
        <p class="text-xs text-left event-location text-white line-clamp-2 mr-4 sm:text-sm">
            <i class="fa-solid fa-map-marker-alt mr-1"></i>
            <%- event._embedded.venues[0].name %>
        </p>
        <p class="text-xs text-center event-date text-white line-clamp-2 mr-4 sm:text-sm">
            <i class="fa-solid fa-calendar mr-1"></i>
            <%- event.dates.start.localDate %>
                <%- event.dates.start.localTime.split(':')[0] %>:<%- event.dates.start.localTime.split(':')[1] %>
        </p>
        <p
            class="text-xs text-center people-number text-white bg-[#878d26] rounded-full p-1 sm:p-2 sm:text-sm flex justify-center items-center max-w-2/6">
            <i class="mr-1 fa-solid fa-user-friends"></i>
            <%- totalNumberOfPeople %>
        </p>
    </div>
</div>