<!DOCTYPE html>
<html lang="en" class="w-full h-full">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile Page</title>
    <script src="https://kit.fontawesome.com/4238f643fe.js" crossorigin="anonymous"></script>
    <link href="/output.css" rel="stylesheet" />
    <script defer src="../profile-front-end/profile.js"></script>
</head>

<body class="bg-gray-100 w-full h-full">
    <%- include("../partials/footer.ejs"); %>
        <header class="p-10">
        </header>
        <div class="flex justify-center">
            <div class="bg-white w-full md:w-full p-4 rounded-lg shadow-md">
                <div class="flex flex-col items-center">
                    <a href="/profile/1">

                        <img src="<%- user.profileImageURI %>" alt="User avatar"
                            class="rounded-full object-cover w-32 h-32 -mt-16">
                    </a>
                    <div class="w-full mt-4">
                        <div class="mt-20">
                            <div class="flex flex-col md:flex-row justify-between items-start">
                                <div>
                                    <h1 class="text-3xl font-bold">
                                        <%- user.name %>
                                    </h1>

                                </div>
                                <% if (user && !currentUser) { %>
                                    <div class="flex flex-col space-y-2">
                                        <div class="flex space-x-4">
                                            <button id="followBtn"
                                                class="rounded-2xl border border-[#878d26] px-3 py-1 m-1 text-base"
                                                data-user-id="<%-user.id%>">
                                                <i id="followIcon"
                                                    class="fas fa-user-plus text-base text-[#878d26] mr-2"></i>
                                                Follow
                                            </button>
                                            <button class="rounded-2xl border border-[#878d26] px-3 py-1 m-1 text-base">
                                                <i class="fas fa-comment text-base text-[#878d26] mr-2"></i>
                                                Message
                                            </button>
                                        </div>
                                    </div>
                                    <% } %>
                            </div>
                        </div>
                        <div class="flex justify-center">
                            <h1 class="text-2xl font-bold">
                                <% if (currentUser) { %>
                                    My Posts
                                    <% } else {%>
                                        <%- user.name %>'s Posts
                                            <% } %>
                            </h1>
                        </div>
                        <div id="posts" class="mt-4 mb-20">
                            <% posts.forEach(post=> { %>
                                <div class="w-full max-h-64 flex justify-center items-center mb-4">
                                    <img src="<%- post.imageUrl %>"
                                        class="object-cover rounded-xl max-w-5/6 max-h-5/6 w-full h-auto"
                                        alt="<%- post.caption %>">
                                </div>
                                <div class='flex flex-col justify-evenly p-1 items-center w-full overflow-auto'>
                                    <h3 class='text-md font-semibold line-clamp-1 w-11/12 sm:text-xl text-center'>
                                        <%= post.title %>
                                    </h3>
                                    <div class="flex items-center justify-between h-1/4 w-full px-4 pb-2 mt-2">
                                        <div class="flex items-center justify-center mr-2 relative">
                                            <a class="absolute w-full h-full top-0 left-0 z-20"
                                                href="/user-profile/<%- user.id %>"></a>
                                            <img src="<%- user.profileImageURI %>"
                                                class="w-4 h-4 sm:h-6 sm:w-6 rounded-full mr-1" alt="<%- user.name %>">
                                            <p class='text-xs sm:text-sm text-center line-clamp-2'>
                                                <%= user.name %>
                                            </p>
                                        </div>
                                        <p class='text-xs sm:text-sm text-center mr-2 line-clamp-2'>
                                            <i class="fas fa-map-marker-alt text-center w-4 h-4 mr-1 text-black"></i>
                                            <%= post.location %>
                                        </p>
                                        <p class='text-xs sm:text-sm text-center line-clamp-2'>
                                            <i class="far fa-calendar-alt text-center w-4 h-4 mr-1 text-black"></i>
                                            <%= new Date(post.createdAt).toLocaleDateString('en-US', { month: 'long' ,
                                                day: 'numeric' , year: 'numeric' }) %>
                                        </p>
                                    </div>
                                </div>
                                <% }); %>
                        </div>
                        <script>
                            const followButton = document.getElementById('followBtn');
                            const userId = followButton.dataset.userId;

                            followButton.addEventListener('click', () => {
                                toggleFollow(userId);
                            });

                            // Call checkFollowStatus when the page loads
                            document.addEventListener('DOMContentLoaded', (event) => {
                                checkFollowStatus(userId);
                            });

                            async function toggleFollow(userId) {
                                const followBtn = document.getElementById('followBtn');
                                const followIcon = document.getElementById('followIcon');

                                try {
                                    if (followBtn.innerText === 'Follow') {
                                        console.log({ userId });
                                        await fetch(`/follow/${userId}`, { method: 'POST' }); // use actual userId
                                        followBtn.innerText = 'Followed';
                                        followIcon.classList.remove('fa-user-plus');
                                        followIcon.classList.add('fa-user-check');
                                    } else {
                                        await fetch(`/unfollow/${userId}`, { method: 'POST' }); // use actual userId
                                        followBtn.innerText = 'Follow';
                                        followIcon.classList.remove('fa-user-check');
                                        followIcon.classList.add('fa-user-plus');
                                    }
                                } catch (error) {
                                    console.log(error);
                                }
                            }

                            async function checkFollowStatus(userId) {
                                try {
                                    const response = await fetch(`/is-following/${userId}`); // endpoint that checks if the current user is following the user with the given userId
                                    const isFollowing = await response.json();

                                    const followBtn = document.getElementById('followBtn');
                                    const followIcon = document.getElementById('followIcon');

                                    if (isFollowing) {
                                        followBtn.innerText = 'Followed';
                                        followIcon.classList.remove('fa-user-plus');
                                        followIcon.classList.add('fa-user-check');
                                    } else {
                                        followBtn.innerText = 'Follow';
                                        followIcon.classList.remove('fa-user-check');
                                        followIcon.classList.add('fa-user-plus');
                                    }
                                } catch (error) {
                                    console.log(error);
                                }
                            }
                        </script>
</body>

</html>