<!DOCTYPE html>
<html lang="en" class="w-full h-full">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Add Post</title>
  <!-- <script src="https://cdn.tailwindcss.com"></script> -->
  <link href="/output.css" rel="stylesheet" />
  <script src="https://kit.fontawesome.com/4238f643fe.js" crossorigin="anonymous"></script>
  <script defer src="https://maps.googleapis.com/maps/api/js?key=<%- GOOGLE_API_KEY %>&libraries=places"></script>

  <script defer src="../add-post-front-end/add-post.js"></script>

</head>


<body class="bg-white w-full h-full">
  <main class="w-full h-full overflow-auto">
    <div class="flex justify-center items-center p-6 sm:p-10 mb-10 sm:w-full sm:h-full sm:mb-20">
      <!-- Form including image -->
      <form id="addPostContainer" action="/post-create" method="POST"
        class="w-full max-w-sm sm:max-w-lg sm:border sm:border-gray-200 sm:rounded-lg sm:h-fit sm:p-10 sm:shadow-md"
        enctype="multipart/form-data">

        <div class="bg-white rounded-md shadow-md flex justify-center items-center w-full mb-10 h-40 relative">

          <div
            class="flex justify-center shadow-md items-center rounded-lg w-full p-4 bg-gray-50  hover:bg-gray-300 mt-10 mb-10">
            <!-- Image upload -->
            <label for="image" class="flex rounded-lg cursor-pointer pointer-events-auto justify-center w-full h-full"
              style="line-height: 40px;">
              <i class="fa-regular fa-images fa-5x p-8" style="color: #000000;"></i>
            </label>
            <input id="image" type="file" name="image" accept="image/*"
              class="absolute w-full h-full opacity-0 cursor-pointer" style="z-index: 999; line-height: 40px;" />
          </div>
          <p class="absolute bottom-3 text-xs font-semibold">Upload Image</p>
        </div>
        <!-- Creator and creator image -->
        <div class="items-center justify-center w-full">
          <!-- Creator and creator image -->
          <div class="items-center justify-center mt-2 w-full">
            <h1 class="flex justify-center text-xl mb-2">
              <%- user.username %>'s Post
            </h1>
          </div>
          <div class="m-auto h-20 w-20 max-w-20 object-center mb-4 flex justify-center items-center">
            <!-- Needs to be logged in users image -->
            <img class="rounded-full h-full w-full object-cover" src="<%- user.profileImage %>" alt="Circular image">
          </div>
          <!-- Form inputs -->
          <div class="mb-4">
            <input class="border border-gray-400 rounded-lg py-2 px-4 w-full" type="text" name="title" id="title"
              placeholder="Post Title" required>
          </div>
          <div class="mb-4">
            <textarea class="border border-gray-400 rounded-lg py-2 px-4 w-full" name="caption" id="caption"
              placeholder="Add Message" required></textarea>
          </div>
          <div class="mb-4">
            <input class="border border-gray-400 rounded-lg py-2 px-4 w-full" type="text" name="location"
              id="location-input" placeholder="Location" required>
          </div>
          <div class="mb-4">
            <select class="border border-gray-400 rounded-lg py-2 px-4 w-full text-gray-400" name="category"
              id="category" placeholder="Category" required>
              <option value="" disabled selected hidden>Choose Category</option>
              <option value="art">Art</option>
              <option value="music">Music</option>
              <option value="sport">Sport</option>
              <option value="seminar">Seminar</option>
              <option value="outdoors">Outdoors</option>
            </select>
          </div>
          <div class="sticky bottom-0 w-full text-md mb-5 lg:mb-10 sm:mb-0">
            <div class="bg-white py-2 px-4 flex justify-between items-center">
              <button id="save-post" type="submit" class="flex items-center py-2 px-4 rounded-full hover:bg-gray-300">
                <i class="far fa-heart mr-2 text-red-500"></i>
                <span class="text-base font-semibold sm:text-md">Save Post</span>
              </button>
              <button type="submit" class="flex items-center py-2 px-4 rounded-full hover:bg-gray-300">
                <i class="far fa-calendar-plus mr-2 text-black"></i>
                <span class="text-base font-semibold">Create Post</span>
              </button>
            </div>
          </div>
        </div>
        <% if (errorMessage) { %>
          <p class="mb-4 text-red-600 text-center font-semibold text-sm">
            <%- errorMessage %>
          </p>
          <% } %>
      </form>

    </div>
    </div>
  </main>
  <footer class="mt-12 text-center">
    <%- include("../partials/footer.ejs"); %>
  </footer>
</body>

</html>